/* fonts.css */
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/NeueHaasDisplayXThin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/NeueHaasDisplayThin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/NeueHaasDisplayLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/NeueHaasDisplayMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/NeueHaasDisplayBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  